   .art-image
            {
                width: 10px;
                height: 10px;
                right:0px;
                top:0px;
                z-index:-1;
            }
            .art-img
            {
                width: 10px;
                height: 10px;


                z-index:0;
                margin-left:140px;

                top:166px;
                right:580px;
            }
            .zzzz
            {

                text-align:left;
                font-size:13pt;
                font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

            }
            .styled-select {
                width: 240px;
                height: 34px;
                overflow: hidden;
                background: url(new_arrow.png) no-repeat right #ddd;
                border: 1px solid #ccc;
            }